<div class="container-b">
    <div class="logo">
        <!-- Your logo image goes here -->
        <a href=""><img src="./../../assets/img/github.png" alt="Logo"></a>
    </div>
    <div class="language-icons">
        <img src="./../../assets/img/us.png" alt="English" class="language-icon">
        <img src="./../../assets/img/fr.png" alt="French" class="language-icon">
        <img src="./../../assets/img/ma.png" alt="Arabic" class="language-icon">
    </div>
    <div class="item-body">
        <div class="content">
            <div class="content__container">
                <ul class="content__container__list">
                    <li class="content__container__list__item">Hello world !</li>
                    <li class="content__container__list__item">Im Amine</li>
                    <li class="content__container__list__item">Front-end Dev</li>
                    <li class="content__container__list__item">Back-end Dev</li>
                </ul>
            </div>
        </div>
        <label class="switch">
            <input type="checkbox" (change)="toggleDarkMode()">
            <span class="slider"></span>
        </label>
    </div>
  </div>
  
  