<div class="about-me">
    
    <div class="card">
        <div class="tools">
            <div class="circle">
                <span class="red box"></span>
            </div>
            <div class="circle">
                <span class="yellow box"></span>
            </div>
            <div class="circle">
                <span class="green box"></span>
            </div>
        </div>
        <div class="card__content">
            <h3>Hi !</h3>
            <p>I am Cherradi Amine,</p>
            <p>Experienced Full Stack Developer proficient in PHP, AJAX, Angular, and Node.js. Dedicated to mastering new technologies and delivering top-notch web solutions. Ready to contribute expertise to dynamic projects and drive success through innovation.</p>
            <p>Feel free to contact me at for any inquiries or collaborations.</p>
        </div>
    </div>
</div>
