<div class="section-2">
    <h1>Projects <img src="../../assets/img/4946348.png" alt=""></h1>
    <div class="options-container">
        <div class="options">
            <div #option1 class="option active" (click)="setActive(option1)"
                style="Background:url(../../assets/img/estore.png); background-size: cover;background-position: center;background-repeat: no-repeat;">
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                        <img src="./../../assets/img/new-php-logo.png" style="width: 40px;">
                    </div>
                    <div class="info">
                        <div class="main">Estore PFE</div>
                        <div class="sub">Full stack E-commerce website project</div>
                    </div>
                </div>
            </div>
            <div #option2 class="option" (click)="setActive(option2)"
                style="Background:url(../../assets/img/resi.png); background-size: cover;background-position: center;background-repeat: no-repeat;">
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                        <img src="../../assets/img/angular.png" style="width: 30px;">
                    </div>
                    <div class="info">
                        <div class="main">ResidentPro</div>
                        <div class="sub">Fullstack Angular + nodejs project</div>
                    </div>
                </div>
            </div>
            <div #option3 class="option" (click)="setActive(option3)"
                style="Background:url(../../assets/img/doctifile.png); background-size: cover;background-position: center;background-repeat: no-repeat;">
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                        <img src="../../assets/img/angular.png" style="width: 30px;">
                    </div>
                    <div class="info">
                        <div class="main">Doctifile</div>
                        <div class="sub">Fullstack Angular + nodejs project</div>
                    </div>
                </div>
            </div>
            <div #option4 class="option" (click)="setActive(option4)"
                style="Background:url(../../assets/img/moni.png); background-size: cover;background-position: center;background-repeat: no-repeat;">
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                        <img src="../../assets/img/angular.png" style="width: 30px;">
                    </div>
                    <div class="info">
                        <div class="main">Fille d'attente Monitor</div>
                        <div class="sub">Fullstack Angular + nodejs project</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
