*{
  font-family: 'Calibri', cursive;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  

  .dark-mode {
    h1,p,.content__container__list__item{
      color: #fff;
    }
   .section2[_ngcontent-ng-c2714602935],.section2[_ngcontent-ng-c1531255638]{
      background-color: #5B5B5B;
    }
    .section1[_ngcontent-ng-c1531255638],.section3[_ngcontent-ng-c1531255638]{
      background-color: #7F7F7F;
    }
    .header[_ngcontent-ng-c1531255638],.profile-card[_ngcontent-ng-c178069358] ,.about-content[_ngcontent-ng-c178069358]{
      background-color: #1F1F1F;
    }
    .about-content[_ngcontent-ng-c3319053371] {
      p[_ngcontent-ng-c3319053371]{
        color: #fff;
      }
    }
    .card[_ngcontent-ng-c1557262799] {
      background-color: #16a085;
      color: #fff;
    }
    .about-me[_ngcontent-ng-c1557262799] {
      background-color: #353535;
    }
    .step[_ngcontent-ng-c3882718396] {
      background-color: #303030;
       .circle-text[_ngcontent-ng-c3882718396] {
        color: #fff;
      }
      .card[_ngcontent-ng-c3882718396] {
        background-color: #16a085;
        color: #fff;
        
      }
      
    }
    .step[_ngcontent-ng-c3882718396].active[_ngcontent-ng-c3882718396] .card[_ngcontent-ng-c3882718396] {
      color: #fff; 
      border: 2px solid #fff;
    }
    .section3[_ngcontent-ng-c2714602935] {
      background-color: #353535;
  }
  }