@import url(//fonts.googleapis.com/css?family=Lato:300:400);
.layout {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    "header" 990px
    "section1" 320px
    "section2" 600px
    "section3" 800px
    "footer" 900px
    / 1fr;
  gap: 0px 8px;
  grid-auto-flow: row dense;
}
.layout{
  display: flex;
  flex-direction: column;
  
}
.header { grid-area: header;background-color: #F8F6E3;}
.section1 { grid-area: section1;background-color: #fff;}
.section2 { grid-area: section2;background-color: #F8F6E3;}
.section3 { 
  grid-area: section3;
  background-color: #BAD7E9;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.footer { grid-area: footer; background-color: #97E7E1;}

